body {
    padding-top: 50px;
}

.main-body {
    padding: 20px 0px;
}

.modal-content {
    padding: 30px;
}

.catalog ul {
    list-style-type: none;
    line-height: normal;
    width: 100%;
}

.catalog ul li {
    float: left;
    width: 200px;
    margin: 20px;
}

