@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(../fonts/pt-serif.ttf) format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../fonts/pt-sans.ttf) format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(../fonts/pt-sans-bold.ttf) format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url(../fonts/pt-sans-italic.ttf) format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(../fonts/pt-sans-bold-italic.ttf) format('truetype');
}

body {
    font-family: "PT Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "PT Serif", serif;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    text-align: left;
    font-size: 20px;
}

*:focus {
    outline: 0 !important;
}

html > body div.t-error {
    border: none;
    font-size: 16px;
    color: #e70500;
    font-weight: bold;
    margin: 0 0 5px 0;
}

html > body div.t-error ul {
    list-style-type: none;
}

html > body div.t-error ul li {
    text-align: center;
}

.border {
    border: 1px solid black;
}

.qq-upload-button-selector {
    width: 49px;
    height: 49px;
    background: url("../img/avatar-upload.png") no-repeat;
}

.qq-upload-button-hover {
    width: 49px;
    height: 49px;
    background: url("../img/avatar-upload-hover.png") no-repeat;
}

.upload-file {
    overflow: hidden;
    position: relative;
}

.upload-file.AVATAR {
    width: 210px;
    height: 210px;
}

.upload-file.AVATAR img {
    width: 210px;
    height: 210px;
}

.upload-file.PRODUCT {
    width: 430px;
    height: 310px;
}

.upload-file div.qq-uploader-selector {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.photo-details div.upload-file {
    margin: 0 auto;
}

.simple-text {
    width: 750px;
    margin: 30px auto 0 auto;
}

.simple-text p {
    font-size: 16px;
    padding: 5px 0 5px 150px;
}

.simple-text h2 {
    font-size: 20px;
    padding: 0;
    margin: 0 0 20px 0;
    line-height: normal;
    text-align: left;
}

.simple-text h2 * {
    font-size: 20px;
}

.t-banner,
.t-error-icon {
    display: none !important;
}

.modal-text {
    font-size: 16px;
    padding: 0 20px 0 20px;
    text-align: center;
}

.error {
    font-size: 16px;
    margin: 5px 0 5px 0;
    color: #e70500;
    font-weight: bold;
}

.empty {
    padding: 20px 0 40px 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: "PT Serif", serif;
}

.form-group {
    margin-bottom: 15px;
}

.form-group div {
    text-align: left;
}

.form-group label {
    padding-left: 5px;
}

.form-control {
    height: 38px;
    border-radius: 5px;
}

.dropdown-menu {
    text-align: center;
    border-radius: 8px;
    top: 25px;
    font-size: 16px;
}

.dropdown-menu.basket-show {
    left: -200px;
    width: 300px;
    font-size: 14px;
    text-align: left;
    padding: 10px 10px 10px 20px;
    color: black;
    line-height: 25px;
}

.dropdown-menu.basket-show a {
    color: #e70500;
}

.dropdown-menu:after, .dropdown-menu:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dropdown-menu.basket-show:after, .dropdown-menu.basket-show:before {
    left: 85%;
}

.dropdown-menu:after {
    border-bottom-color: #ffffff;
    border-width: 7px;
    margin-left: -7px;
}

.dropdown-menu:before {
    border-bottom-color: #aaaaaa;
    border-width: 8px;
    margin-left: -8px;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: url("../img/modal-close.png") no-repeat;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.header-stub {
    height: 52px;
}

.modal-header {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

.modal-header a {
    float: right;
}

.modal-dialog {
    margin: 100px auto 0 auto;
    color: black;
    width: 700px;
    position: relative;
}

.modal-backdrop.in {
    opacity: 0.8;
}

.modal-body {
    padding: 5px 40px 20px 40px;
}

.modal-body.product-create div.t-error {
    margin: 0 0 0 0;
}

.breadcrumbs {
    width: 100%;
    text-align: center;
}

.breadcrumbs a {
    font-size: 14px;
    color: #444;
}

.title {
    position: relative;
}

.office .title {
    margin-bottom: 30px;
}

.title h1 {
    position: relative;
    margin: 20px auto;
    text-align: center;
    padding-top: 23px;
}

.title h1:after {
    content: "";
    border-top: 1px solid #bdbdbd;
    position: absolute;
    left: -25%;
    top: 75%;
    width: 150%;
}

.title span {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0 12px;
    margin: 0 auto;
}

.title a {
    position: absolute;
    top: 20px;
    right: 40px;
}

.data-header {
    height: 70px;
    margin: 30px 0;
}

.more-link {
    width: 100%;
    text-align: center;
    padding: 30px 0 50px 0;
    height: 150px;
}

.more-link a,
.data-header a,
.title a {
    border: 2px solid #bd0400;
    color: #bd0400;
    font-size: 16px;
    padding: 5px 5px 5px 20px;
    border-radius: 20px;
}

.more-link a {
    padding: 5px 20px 5px 20px;
}

.data-header a span,
.title a span {
    padding: 0 12px;
    margin: 0 auto;
    width: 10px;
    height: 18px;
    display: inline;
    background: url("../img/title-forward.png") center top no-repeat;
}

.data-header a {
    margin: 28px 0 0 50px;
}

.data-header h1,
.data-header a {
    float: left;
}

.data-header h1 {
    font-size: 40px;
}

.btn-white {
    border: 2px solid #e70500;
    padding: 8px 25px;
    font-size: 16px;
    margin: 5px;
    color: #e70500;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.btn-white:hover {
    color: #bf0400;
    border: 2px solid #bf0400;
}

.white:focus {
    color: #e70500 !important;
}

.office table a,
.product-create .more a {
    color: #bd0400;
}

.btn-red {
    padding: 8px 25px;
    font-size: 16px;
    margin: 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e70500), to(#bd0400));
    background-image: -webkit-linear-gradient(top, #e70500, #bd0400);
    background-image: -moz-linear-gradient(top, #e70500, #bf0400);
    background-image: -ms-linear-gradient(top, #e70500, #bf0400);
    background-image: -o-linear-gradient(top, #e70500, #bf0400);
    background-image: linear-gradient(to bottom, #e70500, #bf0400);
    color: #FFF !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.btn-red:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a00000), to(#900000));
    background-image: -webkit-linear-gradient(top, #a00000, #900000);
    background-image: -moz-linear-gradient(top, #a00000, #900000);
    background-image: -ms-linear-gradient(top, #a00000, #900000);
    background-image: -o-linear-gradient(top, #a00000, #900000);
    background-image: linear-gradient(to bottom, #a00000, #900000);
    color: #FFF;
}

.btn-red:focus {
    color: #fff !important;
}

.btn-lg {
    padding: 10px 45px;
    font-size: 20px;
}

.btn-howto {
    border-radius: 25px;
    padding: 5px 35px;
    font-size: 16px;
}

.container {
    width: 1200px;
    padding-right: 0;
    padding-left: 0;
}

.form label {
    font-size: 16px;
    font-weight: normal;
}

/*HEADER*/
.navbar,
.navbar a,
.navbar a:hover {
    color: #269398;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
}

.navbar {
    border: none;
    margin-bottom: 0;
    min-height: 55px;
    background: transparent url("../img/header-bg.png") repeat-x;
}

.navbar:after {
    margin-bottom: -55px;
    min-height: 55px;
    width: 100%;
    background-image: -webkit-gradient(
            linear, left top, left bottom, from(rgba(30, 30, 30, 0.1)),
            to(rgba(255, 255, 255, 0.0))
    );
}

.navbar .logo {
    padding-left: 12px;
}

.navbar .container {
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
}

.navbar .basket {
    position: relative;
}

.navbar .basket,
.navbar .username,
.navbar .login {
    line-height: 52px;
    padding-right: 20px;
    cursor: pointer;
}

.avatar-small {
    width: 23px;
    height: 23px;
    border-radius: 11px;
}

.red-link,
.remember-link {
    color: #e70500;
    padding-top: 5px;
    font-size: 16px;
}

.remember-link input {
    margin-left: 10px;
}

.red-link:hover {
    color: #bf0400;
}

div.username {
    display: inline;
}

.navbar .username a {
    margin-right: 5px;
}

/*FOOTER*/
.footer {
    background-color: #242424;
    height: 190px;
}

.social ul,
.social-big ul,
.footer ul {
    list-style-type: none;
    padding: 0;
}

.social ul li,
.social-big ul li,
.footer ul li {
    display: inline;
}

.footer .menu a {
    padding: 0 27px;
    color: #faf3de;
}

.footer .menu {
    padding: 25px 0 5px 0;
    text-align: center;
    font-size: 16px;
}

.social,
.social-big {
    padding: 10px 0 7px 0;
    text-align: center;
}

.social a {
    width: 36px;
    height: 36px;
    display: inline-block;
    background: url(../img/social.png) no-repeat 0 0;
    text-indent: -999em;
    margin: 0 10px;
}

.social a.vk {
    background-position: 0 0;
}

.social a.ok {
    background-position: -36px 0;
}

.social a.fb {
    background-position: -72px 0;
}

.social-big a {
    width: 62px;
    height: 62px;
    display: inline-block;
    background: url(../img/social-big.png) no-repeat 0 0;
    text-indent: -999em;
    margin: 0 10px;
}

.social-big a.vk {
    background-position: 0 0;
}

.social-big a.fb {
    background-position: -62px 0;
}

.social-big a.ok {
    background-position: -124px 0;
}

.footer .copyright {
    color: #928e83;
    padding: 10px 0 10px 0;
    text-align: center;
}

/*Index*/
.landing {
    margin-top: 50px;
    display: table;
    width: 100%;
}

.landing > div {
    height: 453px;
    display: table-cell;
    width: 905px;
    background: url("../img/landing-bg-2.png") center top no-repeat;
}

.landing > div:first-child {
    background: url("../img/landing-bg-1.png") right 0 repeat-x;
    display: table-cell;
    width: auto;
}

.landing > div:last-child {
    background: url("../img/landing-bg-3.png") left 0 repeat-x;
    display: table-cell;
    width: auto;
}

.landing-info {
    height: 453px;
    text-align: center;
    padding-top: 155px;
}

.landing-info h1 {
    font-size: 30px;
}

.landing-info p {
    font-size: 16px;
    padding: 10px 20px 0 20px;
    height: 110px;
}

.landing-info .btn {
    margin-top: 15px;
}

.index .main-img {
    margin-top: -55px;
    padding-top: 70px;
    height: 500px;
    background: url("../img/chef-main.png") center top no-repeat;
}

.index .main-img h1 {
    font-size: 40px;
    padding-top: 83px;
}

.index .main-img h2 {
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}

.index .main-img .data {
    text-align: center;
    color: #fff;
    width: 804px;
    height: 318px;
    background: url("../img/chef-shadow.png") center top no-repeat;
    margin: 0 auto;
    max-height: 318px;
}

.search {
    margin-top: 25px;
    margin-bottom: 30px;
    width: 600px;
}

.search input {
    border: none;
}

.search input.text {
    height: 48px;
    width: 520px;
    background: url("../img/search-input.png") no-repeat;
    padding: 5px 0 0 30px;
    font-size: 20px;
    color: black;
}

.search input.submit {
    float: right;
    padding: 0;
    width: 50px;
    height: 48px;
    text-indent: -999em;
    background: url("../img/search-btn.png") no-repeat;
}

.grid-block {
    width: 1150px;
    margin: 0 auto 10px auto;
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    overflow: hidden;
}

.chefs .grid-block {
    width: 900px;
}

.grid-block > div {
    float: left;
    -webkit-box-shadow: 0 0 6px 2px #ddd;
    -moz-box-shadow: 0 0 6px 2px #ddd;
    box-shadow: 0 0 6px 2px #ddd;
    background-color: #fff;
    margin: 7px;
    display: inline-block;
    border: 1px solid #aaa;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.grid-block a {
    display: block;
    margin-bottom: 7px;
}

.grid-block a {
    display: block;
}

.cooks > div {
    width: 210px;
    height: 250px;
}

.cooks a {
    width: 210px;
    height: 210px;
    margin-bottom: 7px;
}

.cakes > div {
    width: 270px;
    height: 334px;
}

.cakes a {
    width: 270px;
    height: 270px;
    margin-bottom: 18px;
}

.category > div {
    width: 270px;
    height: 186px;
}

.category a {
    width: 270px;
    height: 145px;
    margin-bottom: 7px;
}

.howto .modal-dialog {
    width: 1200px;
}

.howto div {
    text-align: center;
}

.howto h2 {
    font-size: 20px;
    font-weight: bold;
}

.howto p {
    font-size: 16px;
}

.edit {
    margin-bottom: 20px;
    text-align: center;
}

.edit .modal-dialog {
    width: 700px;
}

/*Personal*/
.office-menu {
    list-style-type: none;
    margin-top: 50px;
    text-align: center;
}

.office-menu a {
    font-size: 20px;
    color: #bd0400;
    border-bottom: 1px dashed #bd0400;
}

.office-menu a:hover {
    border-bottom: 1px dashed #bd0400;
    text-decoration: none;
}

.office-menu li {
    display: inline;
    padding: 0 25px;
}

.office-menu li.sel {
    background-color: #bd0400;
    padding: 12px 20px 8px 20px;
    border-radius: 20px;
}

.office-menu li.sel a {
    border-bottom: none;
    color: #ffffff;
}

.office {
    min-height: 600px;
}

.office .t-data-grid {
    margin-bottom: 100px;
}

.office table th {
    font-size: 20px;
    font-weight: normal;
    background-color: #dddddd;
    border: 2px solid #ffffff;
    padding: 10px 0 10px 20px !important;
}

.office table tr {
    border-bottom: 2px solid #dddddd;
}

html div.office table.table td {
    text-align: left;
    font-size: 16px;
    border-right: 2px solid #ffffff;
    padding: 10px 0 10px 20px;
}

html div.office table.table td.img img {
    width: 100px;
    height: 100px;
}

html div.office table.table td.img {
    padding: 0;
    margin: 0;
    width: 102px;
    height: 102px;
    border: 1px solid white;
    overflow: hidden;
}

.product-create .more a,
.office td.del a,
.office td.toggle a {
    text-decoration: none;
}

.office td.del,
.office td.toggle {
    width: 50px;
}

.office .more,
html div.office table.table td.del,
html div.office table.table td.toggle {
    text-align: center;
    padding: 10px 0 !important;
}

.office .more {
    padding-top: 37px !important;
}

.office td.user,
.office td.rating,
.office td.products,
.office td.referrer,
.office td.type,
.office td.publish,
.office td.promote,
.office td.price,
.office td.date {
    width: 180px;
}

.office td.fullName {
    width: 300px;
}

.catalog .container,
.product .container,
.info .container,
.contacts .container {
    min-height: 300px;
    margin-bottom: 100px;
}

.catalog .search {
    margin: 38px 0 10px 0;
    width: 100%;
    min-height: 0;
}

.form-control.price {
    font-weight: bold;
    font-size: 24px;
    height: 50px;
}

.property-select div.chosen-container {
    margin-bottom: 3px;
}

.photo-details {
    text-align: center;
}

.photo-details .row.buttons {
    margin-top: 30px;
}

.photo-details div.upload-file {
    margin: 0 auto;
}

/*Catalog*/
.grid-block div.product-item {
    display: none;
    width: 272px;
    min-height: 350px;
    overflow: auto;
    cursor: pointer;
}

.grid-block div.product-item.fixed {
    height: 460px;
    overflow: hidden;
}

.grid-block div.product-item .basket-block {
    width: 240px;
}

.grid-block div.product-item.fixed .basket-block {
    position: absolute;
    bottom: 10px;
}

.grid-block div.product-item.fixed .desc {
    max-height: 60px;
    overflow: scroll;
}

.product-item .product-image {
    width: 270px;
    height: 270px;
    border: none;
}

.product-modal-template .cook a,
.product-item a {
    color: #bd0400;
    font-size: 14px;
    display: inline;
    margin-left: 5px;
}

.product-item > div {
    width: 270px;
    overflow: hidden;
}

.product-item .pic {
    height: 270px;
    cursor: pointer;
}

.product-item .data {
    padding: 10px 20px 8px 15px;
    word-wrap: break-word;
    text-align: left;
    position: relative;
}

.product-item span {
    display: block;
    text-align: left;
}

.product-modal-template .modal-close {
    background: url("../img/modal-close-inv.png") no-repeat;
    position: absolute;
    right: -25px;
    top: 10px;
}

.product-modal-template .modal-arrow {
    background: url("../img/arrow-big.png") no-repeat;
    height: 26px;
    width: 14px;
    position: absolute;
    cursor: pointer;
}

.product-modal-template .arrow-left {
    left: -35px;
    top: 50%;
}

.product-modal-template .arrow-right {
    background-position: -13px 0;
    right: -35px;
    top: 50%;
}

.wrapword {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* css-3 */
    word-wrap: normal; /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: normal;
    white-space: normal;
}

.product-modal-template .blocks {
    width: 770px;
}

.product-modal-template .blocks > div {
    background-color: white;
    border-radius: 6px;
}

.blocks {
    position: relative;
    display: table;
}

.block1 {
    width: 430px;
    min-height: 510px;
    float: left;
    overflow: hidden;
}

.block2 {
    width: 330px;
    min-height: 100px;
    float: right;
    margin-bottom: 10px;
}

.block3 {
    width: 330px;
    min-height: 100px;
    float: right;
    overflow: scroll;
}

.block1 .data,
.block2 .data,
.block3 .data {
    padding: 8px 20px 5px 20px;
    position: relative;
    color: black;
    font-size: 14px;
}

.block1 .product-link {
    overflow: hidden;
}

.block1 .data {
    height: 200px;
}

.block2 .data {
    padding: 15px 20px;
}

.block1 .bottom {
    position: absolute;
    bottom: 25px;
    width: 390px;
}

.block1 .category {
    margin-bottom: 10px;
}

.block1 .category * {
    font-size: 14px;
    color: #444;
}

.block2 .desc {
    max-height: 200px;
    overflow: scroll;
}

.product-item .tags ul,
.block2 .tags ul {
    list-style: none;
    padding: 0;
}

.product-item .tags .tag,
.block2 .tags .tag {
    font-weight: bold;
    display: inline;
}

.product-modal-template .name {
    margin-bottom: 5px;
}

.product-modal-template .name a,
.product-modal-template .recommended,
.product-modal-template .price,
.product-item span.name a {
    color: black;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
}

.product-item span.desc {
    font-size: 14px;
    margin-top: 5px;
}

.product-item span.price {
    font-size: 30px;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.product-modal-template .price {
    font-size: 30px;
    font-weight: bold;
}

.product-item .basket-add {
    margin: 15px 0 0 5px;
}

.product-modal-template .basket a {
    color: #bd0400;
    margin-left: 5px;
    cursor: pointer;
}

.block3 .recommended {
    overflow: scroll;
}

.block3 .recommended ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    width: 100%;
}

.block3 .recommended ul li {
    float: left;
    padding: 8px;
}

.block3 .recommended img {
    width: 80px;
    height: 80px;
}

.block3 .recommended img:hover {
    opacity: 0.8;
}

.product .info {
    margin: 20px 0;
}

.product .info > div {
    padding: 10px;
}

.filter ul {
    list-style: none;
    margin: 20px 0;
}

.filter > ul li {
    display: inline;
    padding: 10px 20px;
    font-size: 20px;
}

.filter ul li a {
    color: #bd0400;
}

.order {
    background: url("../img/order.png") no-repeat;
    height: 5px;
    width: 9px;
    display: inline-block;
    margin: 0 0 3px 3px;
}

.order-ASC {
    background-position: 0 0;
}

.order-DESC {
    background-position: 0 -5px;
}

.filter .dropdown {
    display: inline;
}

.filter .dropdown li {
    padding: 0;
}

.filter .dropdown li a {
    font-size: 14px;
    text-align: left;
    padding: 4px 25px 4px 20px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 50px;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 8px 8px 8px;
    -moz-border-radius: 0 8px 8px;
    border-radius: 8px;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu > .dropdown-menu::after,
.dropdown-submenu > .dropdown-menu::before {
    left: 30%;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

/*Chefs*/
.chefs {
    padding: 10px 0;
}

.chefs:nth-child(odd) {
    background-image: -webkit-gradient(
            linear, left top, left bottom, from(rgba(245, 245, 245, 1)),
            to(rgba(245, 245, 245, 1))
    );
}

.chefs .chef {
    padding: 8px 10px 0 0;
}

.chefs .chef .pic {
    height: 100px;
    width: 100px;
}

.chefs .chef .cats {
    color: #797979;
    font-size: 14px;
}

.chefs .chef .name {
    color: black;
    font-size: 20px;
    line-height: 25px;
    margin: 10px 0 0 0;
}
