body {
    font-family: "PT Sans", sans-serif;
}

h1 {
    font-family: "PT Serif", serif;
    text-align: center;
    font-size: 30px;
    padding-top: 23px;
}

div {

    text-align: center;
}

.title {
    position: relative;
}

.title h1 {
    position: relative;
    margin: 20px auto;
    text-align: center;
}

.title h1:after {
    content: "";
    border-top: 1px solid #bdbdbd;
    position: absolute;
    left: -25%;
    top: 75%;
    width: 150%;
}

.title span {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0 12px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.title a {
    position: absolute;
    top: 20px;
    right: 40px;
    border: 2px solid #bd0400;
    color: #bd0400;
    font-size: 16px;
    padding: 5px 5px 5px 20px;
    border-radius: 20px;
}

.title a span {
    width: 10px;
    height: 18px;
    display: inline;
    background: url("../img/title-forward.png") center top no-repeat;
}

.btn-red {
    padding: 10px 45px;
    font-size: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e70500), to(#bd0400));
    background-image: -webkit-linear-gradient(top, #e70500, #bd0400);
    background-image: -moz-linear-gradient(top, #e70500, #bf0400);
    background-image: -ms-linear-gradient(top, #e70500, #bf0400);
    background-image: -o-linear-gradient(top, #e70500, #bf0400);
    background-image: linear-gradient(to bottom, #e70500, #bf0400);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e70500, endColorstr=#bf0400);
    color: #FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.btn-red:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a00000), to(#900000));
    background-image: -webkit-linear-gradient(top, #a00000, #900000);
    background-image: -moz-linear-gradient(top, #a00000, #900000);
    background-image: -ms-linear-gradient(top, #a00000, #900000);
    background-image: -o-linear-gradient(top, #a00000, #900000);
    background-image: linear-gradient(to bottom, #a00000, #900000);
    color: #FFF;
}

.container {
    width: 1200px;
    padding-right: 0;
    padding-left: 0;
}

.container.main {
    padding: 55px 0;
}

/*HEADER*/
.header .container {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar,
.navbar a,
.navbar a:hover {
    color: #269398;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
}

.navbar {
    border: none;
    margin-bottom: 0;
    min-height: 55px;
    background: transparent url("../img/header-bg.png") repeat-x;
}

.navbar .logo {
    padding-left: 24px;
}

.navbar .container {
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
}

.navbar .basket,
.navbar .login {
    line-height: 52px;
}

.navbar .basket {
    padding-right: 12px;
}

.navbar .login {
    padding-right: 30px;
}

/*FOOTER*/
.footer {
    background-color: #242424;
    height: 190px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    display: inline;
}

.footer .menu a {
    padding: 0 27px;
    color: #faf3de;
}

.footer .menu {
    padding: 25px 0 5px 0;
    text-align: center;
    font-size: 16px;
}

.footer .social {
    padding: 10px 0 7px 0;
    text-align: center;
}

.footer .social a {
    width: 36px;
    height: 36px;
    display: inline-block;
    background: url(../img/social.png) no-repeat 0 0;
    text-indent: -999em;
    margin: 0 10px;
}

.footer .social a.ok {
    background-position: -36px 0;
}

.footer .social a.vk {
    background-position: 0 0;
}

.footer .social a.fb {
    background-position: -72px 0;
}

.footer .social a.tw {
    background-position: -108px 0;
}

.footer .copyright {
    color: #928e83;
    padding: 10px 0 10px 0;
    text-align: center;
}

/*Index*/
.index .landing {
    display: table;
    width: 100%;
}

.index .landing > div {
    height: 453px;
    display: table-cell;
    width: 905px;
    background: url("../img/landing-bg-2.png") center top no-repeat;
}

.index .landing > div:first-child {
    background: url("../img/landing-bg-1.png") right 0 repeat-x;
    display: table-cell;
    width: auto;
}

.index .landing > div:last-child {
    background: url("../img/landing-bg-3.png") left 0 repeat-x;
    display: table-cell;
    width: auto;
}

.index .landing-info {
    height: 453px;
    text-align: center;
    padding-top: 155px;
}

.landing-info h1 {
    font-size: 30px;
}

.landing-info p {
    font-size: 16px;
    padding: 10px 70px 18px 70px;
}

.index .main-img {
    margin-top: -55px;
    padding-top: 70px;
    height: 500px;
    background: url("../img/chef-main.png") center top no-repeat;
}

.index .main-img h1 {
    font-size: 40px;
    padding-top: 83px;
}

.index .main-img h2 {
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}

.index .main-img .data {
    text-align: center;
    color: white;
    width: 804px;
    height: 318px;
    background: url("../img/chef-shadow.png") center top no-repeat;
    margin: 0 auto;
    max-height: 318px;
}

.grid-block {
    margin: 0 auto 10px auto;
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
}

.grid-block > div {
    -webkit-box-shadow: 0 0 2px 2px #eee;
    -moz-box-shadow: 0 0 2px 2px #eee;
    box-shadow: 0 0 6px 2px #ddd;
    background-color: white;
    margin: 9px;
    display: inline-block;
    border: 1px solid #aaa;
    overflow: hidden;
    white-space: nowrap;
}

.grid-block a {
    display: block;
    margin-bottom: 7px;
}

.grid-block a {
    display: block;
    background: url("../img/cook.png") center top no-repeat;
}

.cooks > div {
    width: 210px;
    height: 250px;
}

.cooks a {
    width: 208px;
    height: 208px;
    background: url("../img/cook.png") center top no-repeat;
    margin-bottom: 7px;
}

.cakes > div {
    width: 268px;
    height: 334px;
}

.cakes a {
    width: 266px;
    height: 266px;
    background: url("../img/cake.png") center top no-repeat;
    margin-bottom: 18px;
}

.category > div {
    width: 268px;
    height: 186px;
}

.category a {
    width: 266px;
    height: 145px;
    background: url("../img/category.png") center top no-repeat;
    margin-bottom: 7px;
}