@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"), url(../fonts/pt-serif.ttf) format("truetype");
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(../fonts/pt-sans.ttf) format("truetype");
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(../fonts/pt-sans-bold.ttf) format("truetype");
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url(../fonts/pt-sans-italic.ttf) format("truetype");
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(../fonts/pt-sans-bold-italic.ttf) format("truetype");
}
@media (max-width: 1200px) {
  .container-flex {
    width: 1200px;
  }
}
body {
  font-family: "PT Sans", sans-serif;
  margin-top: 55px;
  padding: 0 !important;
}

a {
  cursor: pointer;
  font-size: 16px;
  color: #e70500;
}
a:hover {
  color: #e70500;
}

h1, h2, h3 {
  font-family: "PT Serif", serif;
  text-align: center;
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  text-align: left;
  font-size: 20px;
}

*:focus {
  outline: 0 !important;
}

.page {
  min-height: 300px;
  margin-bottom: 100px;
}

.container {
  width: 1170px !important;
  padding-right: 0;
  padding-left: 0;
}

.container-flex {
  width: 100%;
}

.rub {
  display: inline !important;
}

body.desktop .rub:after {
  content: "₽";
}

body.mobile .rub:after {
  content: "руб";
}

.bold {
  font-weight: bold;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.f14px {
  font-size: 14px !important;
}

.f16px {
  font-size: 16px !important;
}

.f18px {
  font-size: 18px !important;
}

.f20px {
  font-size: 20px !important;
}

.f24px {
  font-size: 24px !important;
}

.f30px {
  font-size: 30px !important;
}

.black-text {
  color: #333 !important;
}

.black-text:hover {
  color: #333;
}

.grey-text {
  color: #8a8a8a;
}

.grey-text:hover {
  color: #8a8a8a;
}

.red-text {
  color: #e70500 !important;
}

.red-text:hover {
  color: #e70500 !important;
}

.border {
  border: 1px solid #333 !important;
}

.gap {
  margin-top: 10px;
}

.gap2 {
  margin-top: 20px;
}

.gap3 {
  margin-top: 30px;
}

.gap5 {
  margin-top: 50px;
}

.gap10 {
  margin-top: 100px;
}

.center {
  text-align: center !important;
}

.multiple {
  height: 150px !important;
}

.pic-holder {
  position: relative;
}

.pic-holder > span:first-child {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.pic-holder.delete > .purchase-edit {
  background-position-x: -40px;
}

.pic-holder.used-bonuses > .purchase-edit {
  background-position-x: -60px;
}

.pic-holder.basket-add > span {
  width: 30px;
  height: 30px;
  background: url("../img/basket-add.png") no-repeat 0 0;
  display: inline-block;
}

.spinner {
  text-align: center;
  height: 50px;
  width: 50px;
  margin: 2px auto;
  background: url("../img/spinner.gif") no-repeat;
  background-size: 50px;
}

.popover-content {
  font-size: 16px;
  padding: 5px 10px 10px 10px;
  color: #333;
}

.empty {
  padding: 20px 0 40px 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: "PT Serif", serif;
}

.simple-text {
  width: 750px;
  margin: 30px auto 0 auto;
}
.simple-text p {
  font-size: 16px;
  padding: 5px 0 5px 150px;
}
.simple-text h2 {
  font-size: 20px;
  padding: 0;
  margin: 0 0 20px 0;
  line-height: normal;
  text-align: left;
}
.simple-text h2 * {
  font-size: 20px;
}

.modal-text {
  font-size: 16px;
  padding: 0 20px 0 20px;
  text-align: center;
}

.error {
  font-size: 16px;
  margin: 5px 0 5px 0;
  color: #bd0400;
  font-weight: bold;
}

.wrapword, .product-item .data .pname, .product-item .data .desc {
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: normal;
  /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap;
  /* Newer versions of Chrome/Safari */
  word-break: normal;
  white-space: normal;
}

.za {
  line-height: 50px;
  vertical-align: middle;
}

.chosen-container {
  display: inline-block;
}
.chosen-container .search-choice-close {
  margin-top: 3px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group div {
  text-align: left;
}
.form-group label {
  padding-left: 5px;
}

.form-control {
  height: 38px;
  border-radius: 5px;
}

.form label {
  font-size: 16px;
  font-weight: normal;
}

.catalog-item {
  padding: 30px 0 20px 0;
}
.catalog-item .pic {
  width: 270px;
  height: 270px;
}
.catalog-item .data-header {
  margin: 5px 0 0 0;
  height: auto;
}
.catalog-item .data-header a {
  margin: 0;
}
.catalog-item .name {
  color: #333;
  font-size: 30px;
}
.catalog-item .root-categories {
  color: #8a8a8a;
  font-size: 18px;
}
.catalog-item .bottom {
  padding-top: 10px;
}
.catalog-item .description, .catalog-item.short .description {
  font-size: 16px;
}
.catalog-item.short .description {
  max-height: 84px;
  overflow: hidden;
}
.catalog-item .badges {
  height: 45px;
  margin: 20px 0;
}
.catalog-item .badges .badge, .catalog-item .badges .badge-product, .catalog-item .badges .badge-rank, .catalog-item .badges .badge-order, .catalog-item .badges .badge-product.badge-stub, .catalog-item .badges .badge-rank.badge-stub, .catalog-item .badges .badge-order.badge-stub {
  display: inline-block;
  float: left;
  margin: 0 16px 0 0;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: white;
}
.catalog-item .badges .badge-product {
  background: url(../img/badge1-small.png) no-repeat 0 0;
}
.catalog-item .badges .badge-rank {
  background: url(../img/badge2-small.png) no-repeat 0 0;
}
.catalog-item .badges .badge-order {
  background: url(../img/badge3-small.png) no-repeat 0 0;
}
.catalog-item .badges .badge-product.badge-stub {
  background: url(../img/badge1-stub.png) no-repeat 0 0;
}
.catalog-item .badges .badge-rank.badge-stub {
  background: url(../img/badge2-stub.png) no-repeat 0 0;
}
.catalog-item .badges .badge-order.badge-stub {
  background: url(../img/badge3-stub.png) no-repeat 0 0;
}
.catalog-item .ratings {
  margin: 10px 0;
  font-size: 18px;
  color: #8a8a8a;
}
.catalog-item .ratings .rating {
  color: #e70500;
  font-size: 18px;
}
.catalog-item .ratings .pos {
  color: #e70500;
}
.catalog-item .ratings .neg {
  color: #333;
}
.catalog-item .summary {
  margin: -15px;
  padding: 15px;
  background-color: #efefef;
  height: 90px;
  width: 100%;
}
.catalog-item .summary > div {
  padding: 0;
  height: 33px;
}
.catalog-item .summary > div > span {
  font-size: 16px;
  margin: 0 60px 0 0;
  line-height: 30px;
  vertical-align: middle;
}
.catalog-item .summary > div .pic-holder {
  color: #8a8a8a;
}
.catalog-item .summary > div .pic-holder > span {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  color: white;
  background-color: #8a8a8a;
  border: 1px solid #8a8a8a;
  padding: 4px;
  font-size: 16px;
}
.catalog-item .summary > div .pic-holder > span.glyphicon-plus {
  padding-left: 5px;
}
.catalog-item .summary > div .pic-holder.active {
  color: #333;
}
.catalog-item .summary > div .pic-holder.active span {
  border: 1px solid #e70500;
  background-color: #e70500;
}
.catalog-item ul.social {
  list-style: none;
  margin: -20px 0 0 20px;
}
.catalog-item ul.social li {
  display: inline-block;
  float: left;
  margin: 0;
}

.catalog-link {
  display: block;
  color: #e70500;
  margin: 5px 0 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.catalog-item-wrap:nth-child(odd) {
  background-color: #f5f5f5;
}

ul.comments {
  list-style: none;
}
ul.comments .pic {
  margin: 25px 0;
}
ul.comments .pic img {
  width: 50px;
  height: 50px;
}
ul.comments .date {
  color: #8a8a8a;
}
ul.comments .name {
  font-size: 20px;
}
ul.comments .glyphicon-thumbs-0 {
  display: none;
}
ul.comments .glyphicon-thumbs-1 {
  margin-right: 5px;
}
ul.comments .glyphicon-thumbs-1:before {
  content: "";
}
ul.comments .glyphicon-thumbs--1 {
  margin-right: 5px;
}
ul.comments .glyphicon-thumbs--1:before {
  content: "";
}

.import-item .grid-block.albums {
  text-align: center;
}
.import-item .grid-block.albums .item {
  float: none;
  margin: 3px 5px;
}
.import-item .grid-block.import .item {
  width: 210px;
  height: 250px;
}
.import-item .grid-block.import .item img {
  height: 210px;
  cursor: pointer;
  margin-bottom: 7px;
}
.import-item .element-item {
  position: relative;
}
.import-item .element-item .checked {
  z-index: 2;
  position: absolute;
  top: 60px;
  left: 80px;
  width: 49px;
  height: 49px;
  background: transparent url("../img/product-edit.png") no-repeat -147px 0;
}

.offer-item {
  position: relative;
  padding: 30px 0 20px 0;
}
.offer-item .data-header {
  margin: 5px 0 0 0;
  height: auto;
}
.offer-item .data-header a {
  margin: 0;
}
.offer-item .name {
  color: #333;
  font-size: 30px;
  line-height: 30px;
}
.offer-item .price {
  font-size: 30px;
  color: #333;
  font-weight: bold;
}
.offer-item .persons {
  font-size: 16px;
  margin-top: 5px;
  font-weight: bold;
}
.offer-item .description, .offer-item .catalog-item.short .description, .catalog-item.short .offer-item .description {
  font-size: 16px;
  margin-top: 5px;
}
.offer-item .edit {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
}
.offer-item .edit a {
  color: #e70500;
  margin-left: 10px;
}
.offer-item:hover .edit {
  display: block;
}
.offer-item.short {
  padding: 15px 0 10px 0;
}
.offer-item.short .products a {
  color: #e70500;
  font-size: 18px;
}
.offer-item.short .description {
  max-height: 65px;
  overflow: hidden;
}
.offer-item.short .catalog-link {
  display: none;
}
.offer-item.short .price-modifier {
  display: none;
}

ul.offer-products {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.offer-products li {
  vertical-align: top;
  display: inline-block;
  margin: 0 10px 10px 0;
  height: 100px;
  width: 100px;
  position: relative;
}
ul.offer-products li .delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.6);
  line-height: 100px;
  text-align: center;
}
ul.offer-products li .delete a {
  top: 25px;
  left: 25px;
  background: url("../img/product-edit.png") no-repeat;
  background-position-x: -98px;
  width: 49px;
  height: 49px;
  position: absolute;
}
ul.offer-products li:hover .delete {
  display: block;
}
.offer-edit ul.offer-products {
  margin-left: 40px;
}

.offer-edit .price {
  font-weight: bold;
  font-size: 20px;
  height: 50px;
}

.offer-item-wrap:nth-child(odd) {
  background-color: #f5f5f5;
}

body.modal-open {
  overflow: hidden;
}

.modal-backdrop {
  height: auto !important;
  width: auto;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
}

.modal-backdrop.in {
  opacity: 0.85;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  background: url("../img/modal-close.png") no-repeat;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.modal-header {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.modal-header a {
  float: right;
}

.modal-dialog {
  margin: 80px auto;
  color: black;
  width: 700px;
  position: relative;
}

.modal.catalog-edit .modal-dialog {
  width: 900px;
}

.modal-backdrop.in {
  opacity: 0.8;
}

.modal-body {
  padding: 5px 40px 20px 40px;
  font-size: 16px;
}

.wizard {
  margin: 20px 0 10px 0;
}
.wizard .wizard-upload {
  margin-top: 9px;
}
.wizard .step1-zone {
  display: none;
}
.wizard .container {
  min-height: 769px;
}

.bottom-image {
  display: block;
  height: 300px;
  position: relative;
}
.bottom-image > div {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url("../img/main/main5.jpg") center top no-repeat;
}

.product-item {
  display: none;
  position: relative;
}
.product-item .pic {
  cursor: pointer;
  position: relative;
}
.product-item .pic img {
  width: 270px;
  height: 270px;
}
.product-item .pic .edit-block {
  cursor: default;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  vertical-align: middle;
  text-align: center;
  line-height: 270px;
}
.product-item .pic .edit-block .handle {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
.product-item .pic .edit-block a {
  display: inline-block;
  margin: 0 8px;
  width: 49px;
  height: 49px;
  z-index: 25;
}
.product-item .pic .edit-block a.uploader-button .qq-uploader-selector {
  position: relative;
  bottom: auto;
  right: auto;
}
.product-item .pic .edit-block a.edit {
  background: url("../img/product-edit.png") no-repeat 0 0;
}
.product-item .pic .edit-block a.delete {
  background: url("../img/product-edit.png") no-repeat -98px 0;
}
.product-item:hover .edit-block {
  display: block;
}
.product-item .basket-block {
  width: 240px;
  height: 44px;
  margin: 5px 15px 10px 15px;
}
.product-item .data {
  overflow: hidden;
  padding: 15px;
  word-wrap: break-word;
  text-align: left;
}
.product-item .data .pname {
  font-size: 20px;
  color: #333;
  line-height: 25px;
}
.product-item .data .desc {
  font-size: 14px;
  line-height: 17px;
}
.product-item.fixed {
  height: 500px;
  overflow: hidden;
}
.product-item.fixed .data {
  height: 170px;
}
.product-item.fixed .data .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 70px;
}
.product-item.full {
  padding: 30px 0 20px 0;
  display: block;
}
.product-item.full .pic img {
  width: 560px;
  height: 404px;
}
.product-item.full .basket-block {
  margin: 20px 0 10px 0;
  width: 450px;
}
.product-item.full .tags ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.product-item.full .tags ul .tag {
  font-weight: bold;
}

.more-products {
  height: 100px;
  margin-top: 30px;
}
.more-products .links-set {
  margin: 0;
}

.product-modal-template .modal-dialog {
  width: 920px;
}
.product-modal-template .modal-close {
  background: url("../img/modal-close-inv.png") no-repeat;
  position: absolute;
  right: -25px;
  top: 10px;
}
.product-modal-template .modal-arrow {
  background: url("../img/arrow-big.png") no-repeat;
  height: 26px;
  width: 14px;
  position: absolute;
  cursor: pointer;
}
.product-modal-template .modal-arrow.arrow-left {
  background-position: 0 0;
  left: -35px;
  top: 50%;
}
.product-modal-template .modal-arrow.arrow-right {
  background-position: -13px 0;
  right: -35px;
  top: 50%;
}
.product-modal-template .blocks {
  position: relative;
  display: table;
  width: 920px;
}
.product-modal-template .blocks > div {
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}
.product-modal-template .blocks > div .data {
  padding: 8px 20px 5px 20px;
  position: relative;
  color: black;
  overflow: hidden;
}
.product-modal-template .blocks .block1 {
  width: 560px;
  min-height: 510px;
  float: left;
}
.product-modal-template .blocks .block1 .product-image {
  width: 560px;
  height: 404px;
}
.product-modal-template .blocks .block1 .data {
  padding-top: 15px;
  height: 200px;
}
.product-modal-template .blocks .block1 .data .pname {
  max-height: 70px;
  overflow: hidden;
}
.product-modal-template .blocks .block1 .data .pname a {
  font-size: 24px;
  color: #333;
  text-align: left;
}
.product-modal-template .blocks .block1 .data .basket-block {
  position: absolute;
  bottom: 15px;
  width: 510px;
}
.product-modal-template .blocks .block2 {
  width: 330px;
  min-height: 100px;
  float: right;
  margin-bottom: 10px;
}
.product-modal-template .blocks .block2 .data {
  padding: 15px 20px;
}
.product-modal-template .blocks .block2 .data .desc {
  max-height: 200px;
  overflow: hidden;
}
.product-modal-template .blocks .block2 .data .tags ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.product-modal-template .blocks .block2 .data .tags ul .tag {
  font-weight: bold;
}
.product-modal-template .blocks .block3 {
  width: 330px;
  min-height: 100px;
  float: right;
}
.product-modal-template .blocks .block3 .data {
  overflow: hidden;
  font-size: 20px;
}
.product-modal-template .blocks .block3 .data ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  width: 100%;
}
.product-modal-template .blocks .block3 .data ul li {
  float: left;
  padding: 8px;
}
.product-modal-template .blocks .block3 .data img {
  width: 80px;
  height: 80px;
}
.product-modal-template .blocks .block3 .data img:hover {
  opacity: 0.9;
}

.product-edit-modal .t-error {
  margin: 0 0 0 0;
}
.product-edit-modal .unit {
  height: 50px;
}
.product-edit-modal .more-btn {
  padding-top: 37px;
}
.product-edit-modal .more-btn:hover {
  text-decoration: none;
}
.product-edit-modal .price {
  font-weight: bold;
}
.product-edit-modal .price, .product-edit-modal .unit {
  font-size: 20px;
  height: 50px;
}
.product-edit-modal .prop-edit-block {
  margin-bottom: 3px;
}

.property-select .no-results {
  cursor: pointer;
}

.navbar {
  border: none;
  margin-bottom: 0;
  min-height: 55px;
  background: white;
  border-bottom: 1px solid #eee;
}

.navbar,
.navbar a,
.navbar a:hover {
  color: #269398;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
}

.navbar:after {
  margin-bottom: -55px;
  min-height: 55px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 30, 0.1)), to(rgba(255, 255, 255, 0)));
}

.navbar .container {
  padding: 0 12px;
  height: 55px;
  line-height: 55px;
}
.navbar .pic-holder > span:first-child {
  width: 28px;
  height: 28px;
  background: url(../img/header.png) no-repeat 0 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}
.navbar .pic-holder.orders > span:first-child {
  background-position-x: -84px;
}
.navbar .pic-holder.basket > span:first-child {
  background-position-x: -56px;
}

.header-block {
  position: relative;
  line-height: 55px;
  margin-left: 20px;
}

.avatar-small {
  width: 23px;
  height: 23px;
  border-radius: 11px;
  margin-right: 7px;
}

.label-checkbox-set input {
  margin-left: 10px;
}

.main-header {
  padding-top: 70px;
  height: 500px;
  display: block;
  position: relative;
}
.main-header .main-img-after {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  display: none;
}
.main-header .main-img-after.main1 {
  background: url("../img/main/main1.jpg") center top no-repeat;
}
.main-header .main-img-after.main2 {
  background: url("../img/main/main2.jpg") center top no-repeat;
}
.main-header .main-img-after.main3 {
  background: url("../img/main/main3.jpg") center top no-repeat;
}
.main-header .main-img-after.main4 {
  background: url("../img/main/main4.jpg") center top no-repeat;
}
.main-header .main-img-after.main5 {
  background: url("../img/main/main5.jpg") center top no-repeat;
}
.main-header .main-img-after.main6 {
  background: url("../img/main/main6.jpg") center top no-repeat;
}
.main-header .main-img-after.main7 {
  background: url("../img/main/main7.jpg") center top no-repeat;
}
.main-header .main-img-after.main8 {
  background: url("../img/main/main8.jpg") center top no-repeat;
}
.main-header .data {
  text-align: center;
  color: #fff;
  width: 804px;
  height: 318px;
  background: url("../img/chef-shadow.png") center top no-repeat;
  margin: 0 auto;
  max-height: 318px;
}
.main-header .data > h1 {
  font-size: 60px;
}
.main-header .data h2 {
  font-size: 22px;
  font-family: "PT Sans", sans-serif;
}
.main-header .howto div {
  text-align: center;
}
.main-header .howto h2 {
  font-size: 20px;
  font-weight: bold;
}
.main-header .howto p {
  font-size: 16px;
}
.main-header .howto .howto-row {
  margin-bottom: 20px;
}

.footer {
  background-color: #242424;
  height: 190px;
}
.footer .menu a {
  padding: 0 27px;
  color: #faf3de;
}
.footer .menu {
  padding: 25px 0 5px 0;
  text-align: center;
  font-size: 16px;
}
.footer .copyright {
  color: #928e83;
  padding: 10px 0 10px 0;
  text-align: center;
}

.social ul,
.social-big ul,
.footer ul {
  list-style-type: none;
  padding: 0;
}

.social ul li,
.social-big ul li,
.footer ul li {
  display: inline;
}

.social,
.social-big {
  padding: 10px 0 7px 0;
  text-align: center;
}

.social a {
  width: 36px;
  height: 36px;
  display: inline-block;
  background: url(../img/social.png) no-repeat 0 0;
  text-indent: -999em;
  margin: 0 10px;
}

.social a.vk {
  background-position: 0 0;
}

.social a.ok {
  background-position: -36px 0;
}

.social a.fb {
  background-position: -72px 0;
}

.social-big a {
  width: 62px;
  height: 62px;
  display: inline-block;
  background: url(../img/social-big.png) no-repeat 0 0;
  text-indent: -999em;
  margin: 0 10px;
}

.social-big a.vk {
  background-position: 0 0;
}

.social-big a.fb {
  background-position: -62px 0;
}

.social-big a.ok {
  background-position: -124px 0;
}

.social-big a.in {
  background-position: -186px 0;
}

.btn {
  padding: 8px 25px;
  font-size: 16px;
  margin: 0 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.btn-red {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e70500), to(#bd0400));
  background-image: -webkit-linear-gradient(top, #e70500, #bd0400);
  background-image: -moz-linear-gradient(top, #e70500, #bd0400);
  background-image: -ms-linear-gradient(top, #e70500, #bd0400);
  background-image: -o-linear-gradient(top, #e70500, #bd0400);
  background-image: linear-gradient(to bottom, #e70500, #bd0400);
  color: #FFF !important;
}
.btn.btn-red:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a00000), to(#900000));
  background-image: -webkit-linear-gradient(top, #a00000, #900000);
  background-image: -moz-linear-gradient(top, #a00000, #900000);
  background-image: -ms-linear-gradient(top, #a00000, #900000);
  background-image: -o-linear-gradient(top, #a00000, #900000);
  background-image: linear-gradient(to bottom, #a00000, #900000);
  color: #FFF;
}
.btn.btn-red:focus {
  color: #fff !important;
}
.btn.btn-white {
  border: 2px solid #e70500;
  color: #e70500;
}
.btn.btn-white:hover {
  color: #bd0400;
  border: 2px solid #bd0400;
}
.btn.btn-white:focus {
  color: #bd0400 !important;
}
.btn.btn-lg {
  padding: 10px 45px;
  font-size: 20px;
}
.btn.btn-howto {
  border-radius: 25px;
  padding: 5px 35px;
}

.round-link, .title-simple a, .title a, .links-set a {
  background-color: white;
  border: 2px solid #bd0400;
  color: #bd0400;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 10px;
}
.round-link span, .title-simple a span, .title a span, .links-set a span {
  margin-bottom: -4px;
  margin-left: 5px;
  width: 10px;
  height: 18px;
  display: inline-block;
  background: url("../img/title-forward.png") center top no-repeat;
}

.title-simple, .title {
  position: relative;
}
.title-simple h1, .title h1, .title-simple h2, .title h2 {
  position: relative;
  margin: 20px auto;
  text-align: center;
  padding-top: 23px;
}
.title-simple a, .title a {
  position: absolute;
  top: 25px;
  right: 0;
}

.title h1.line:after, .title h2.line:after {
  content: "";
  border-top: 1px solid #8a8a8a;
  position: absolute;
  left: -25%;
  top: 75%;
  width: 150%;
}
.title h1 span, .title h2 span {
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

.links-set {
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

.dotted-link, .dotted-link:hover {
  color: #e70500;
  border-bottom: 1px dashed #e70500;
  cursor: pointer;
  text-decoration: none;
}

.label-tip {
  font-style: italic;
  padding-left: 5px;
  font-size: 12px;
  color: #8a8a8a;
  margin-bottom: 3px;
}

.form-buttons {
  text-align: center;
  margin: 20px 0 30px 0;
}

.t-error {
  border: 1 ps solid #e70500 !important;
}
.t-error ul {
  list-style-type: none !important;
  margin-bottom: 30px !important;
}
.t-error ul li {
  text-align: center !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin: 0 !important;
  color: #e70500;
}

div.t-error {
  border: none !important;
}

label.t-error {
  font-weight: bold !important;
}

.t-banner, .t-error-icon {
  display: none !important;
}

.qq-upload-button-selector {
  width: 49px;
  height: 49px;
  background: url("../img/avatar-upload.png") no-repeat;
}

.qq-upload-button-hover {
  width: 49px;
  height: 49px;
  background: url("../img/avatar-upload-hover.png") no-repeat;
}

.upload-file {
  overflow: hidden;
  position: relative;
}

.upload-file.AVATAR {
  width: 210px;
  height: 210px;
}

.upload-file.AVATAR img {
  width: 210px;
  height: 210px;
}

.upload-file.PRODUCT {
  width: 560px;
  height: 404px;
  margin: 0 auto;
}

.upload-file div.qq-uploader-selector {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.invitation {
  margin-top: 50px;
  display: table;
  width: 100%;
}
.invitation .info {
  height: 453px;
  text-align: center;
  padding-top: 155px;
}
.invitation .info h1 {
  font-size: 30px;
}
.invitation .info p {
  font-size: 16px;
  padding: 10px 20px 0 20px;
  height: 110px;
}
.invitation .info .btn {
  margin-top: 15px;
}
.invitation > div {
  height: 453px;
  display: table-cell;
  width: 905px;
  background: url("../img/landing-bg-2.jpg") center top no-repeat;
}
.invitation > div:first-child {
  background: url("../img/landing-bg-1.jpg") right 0 repeat-x;
  display: table-cell;
  width: auto;
}
.invitation > div:last-child {
  background: url("../img/landing-bg-3.jpg") left 0 repeat-x;
  display: table-cell;
  width: auto;
}

.grid-block {
  width: 1150px;
  margin: 0 auto 10px auto;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  overflow: hidden;
}
.grid-block .item {
  float: left;
  -webkit-box-shadow: 0 0 6px 2px #ddd;
  -moz-box-shadow: 0 0 6px 2px #ddd;
  box-shadow: 0 0 6px 2px #ddd;
  background-color: #fff;
  margin: 10px;
  display: list-item;
  border: 1px solid #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
}
.grid-block.albums .item {
  padding: 5px 15px;
  margin: 3px 10px;
}
.grid-block.products .item {
  width: 270px;
  margin: 7px;
}
.grid-block.products .item .name {
  line-height: 60px;
}
.grid-block.cooks .item {
  width: 210px;
  height: 250px;
}
.grid-block.cooks .item .name {
  line-height: 40px;
}
.grid-block.cooks .item img {
  height: 210px;
  width: 210px;
}
.grid-block.promo .item {
  width: 270px;
  height: 334px;
  margin: 8px;
}
.grid-block.promo .item .name {
  line-height: 60px;
}
.grid-block.categories .item {
  margin: 15px;
  width: 200px;
  height: 186px;
}
.grid-block.categories .item .name {
  line-height: 40px;
}
.grid-block.categories .item img {
  height: 145px;
  width: 100%;
  display: block;
}
.grid-block.categories .item .category-supy {
  background: transparent url("../img/category/soup-small.jpg") repeat-x;
}
.grid-block.categories .item .category-napitki {
  background: transparent url("../img/category/lemonade-small.jpg") repeat-x;
}
.grid-block.categories .item .category-vypechka-i-deserty {
  background: transparent url("../img/category/dessert-small.jpg") repeat-x;
}
.grid-block.categories .item .category-fermerskaya-eda {
  background: transparent url("../img/category/country-small.jpg") repeat-x;
}
.grid-block.categories .item .category-keitering {
  background: transparent url("../img/category/catering-small.jpg") repeat-x;
}
.grid-block.categories .item .category-garniry {
  background: transparent url("../img/category/sidedishes-small.jpg") repeat-x;
}
.grid-block.categories .item .category-zakuski-i-burgery {
  background: transparent url("../img/category/burger-small.jpg") repeat-x;
}
.grid-block.categories .item .category-salaty {
  background: transparent url("../img/category/salad-small.jpg") repeat-x;
}
.grid-block.categories .item .category-torty {
  background: transparent url("../img/category/cake-small.jpg") repeat-x;
}
.grid-block.categories .item .category-osnovnye-blyuda {
  background: transparent url("../img/category/steak-small.jpg") repeat-x;
}
.grid-block .item img {
  opacity: 0.95;
}
.grid-block .item div:hover img {
  opacity: 1;
}
.grid-block .name {
  text-align: center;
  line-height: 25px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}
.grid-block a {
  display: block;
}

.ui-state-highlight {
  margin: 6px 8px;
  border: 1px dashed lightgray;
  width: 268px;
  height: 498px;
  display: list-item;
  float: left;
}

.filter {
  margin-top: 20px;
  text-align: center;
}
.filter ul {
  list-style: none;
}
.filter ul.dropdown-menu {
  margin: 10px 0 0 60px;
}
.filter ul.dropdown-menu li {
  display: block;
}
.filter ul.dropdown-menu li a {
  font-size: 14px;
  color: #e70500;
  display: block;
  width: 180px;
  text-align: left;
}
.filter ul.dropdown-menu li.submenu:hover .dropdown-menu {
  display: block;
}
.filter .submenu .dropdown-menu {
  left: 265px;
  height: 298px;
  width: 182px;
  -webkit-border-radius: 0 8px 8px 8px;
  -moz-border-radius: 0 8px 8px;
  border-radius: 0 8px 8px 0;
  top: -1px;
  margin: 0;
  background-color: #eee;
}
.filter .submenu .dropdown-menu::after, .filter .submenu .dropdown-menu::before {
  display: none;
}
.filter .submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-width: 0;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.filter .submenu:hover > a:after {
  border-left-color: #bd0400;
}
.filter ul.filter-group {
  position: relative;
}
.filter ul.filter-group > li {
  position: relative;
  font-size: 18px;
  color: #333;
  margin: 0 30px;
  display: inline-block;
}
.filter ul.filter-group > li > a {
  font-size: 18px;
  color: #e70500;
}
.filter .order, .filter .order-ASC, .filter .order-DESC {
  background: url("../img/order.png") no-repeat;
  height: 5px;
  width: 9px;
  display: inline-block;
  margin: 0 0 3px 3px;
}
.filter .order-ASC {
  background-position: 0 0;
}
.filter .order-DESC {
  background-position: 0 -5px;
}
.filter .disable {
  font-size: 14px;
  color: lightgray;
  display: block;
  width: 160px;
  text-align: left;
  margin: 4px 0 5px 20px;
}

.basket-block {
  line-height: 30px;
}
.basket-block .price {
  text-align: left;
  line-height: 30px;
  color: #333;
  font-size: 30px;
  font-weight: bold;
}
.basket-block .price .unit {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}
.basket-block .basket-add {
  text-align: left;
  line-height: 30px;
  color: #e70500;
  font-size: 16px;
  cursor: pointer;
}

.attention {
  border: 1px solid #bd0400;
  padding: 20px 40px;
  margin: 40px 250px;
  border-radius: 11px;
}
.attention * {
  font-size: 18px;
  text-align: center;
}

.cart-catalog {
  margin-bottom: 20px;
}
.cart-catalog .name a {
  font-size: 20px;
  color: #e70500;
}
.cart-catalog .details {
  font-size: 20px;
}

.cart .total {
  font-size: 20px;
  font-weight: bold;
}

.order-info .row {
  margin-bottom: 8px;
}

.order-body {
  border-bottom: 3px solid #eee;
  padding: 20px 0;
}

.order-products {
  background-color: #eee;
  padding: 20px;
  margin: 10px -20px;
}

.order-products .edit {
  font-size: 20px;
}

.order-products .info {
  display: table;
  font-size: 20px;
}

.order-products .info > div {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
  width: 270px;
}

.order-product {
  position: relative;
  height: 100px;
  background: white;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 0 6px 2px #ddd;
  -moz-box-shadow: 0 0 6px 2px #ddd;
  box-shadow: 0 0 6px 2px #ddd;
  margin-bottom: 10px;
  overflow: hidden;
}

.order-product .img {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
  top: 0;
  left: 0;
}

.order-product-row {
  height: 48px;
  width: 680px;
  margin-left: 100px;
  display: table;
}

.order-product-row > div {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
  padding: 8px 20px;
}

.order-product-row:last-child > div {
  padding-top: 0;
  padding-bottom: 0;
}

.order-product-row .price {
  width: 250px;
}

.order-product-row .count {
  width: 250px;
}

.order-product-row .count input {
  width: 100px;
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  margin: 0 10px;
}

.order-product-row .delete {
  width: 260px;
  text-align: right;
}

.purchase-edit {
  width: 20px;
  height: 19px;
  background: url("../img/purchase-edit.png") no-repeat 0 0;
  display: inline-block;
}

.purchase-edit.inc {
  background-position-x: 0;
  vertical-align: middle;
}

.purchase-edit.dec {
  background-position-x: -20px;
  vertical-align: middle;
}

.search-bar {
  height: 50px;
  position: relative;
}
.search-bar input[type=text] {
  width: 100%;
  border: 2px solid #aaa;
  box-shadow: inset -2px 2px 2px #eeeeee;
  height: 48px;
  border-radius: 24px;
  background-color: #ffffff;
  padding-left: 24px;
  font-size: 20px;
  color: #000000;
}
.search-bar input[type=submit] {
  background: url(../img/search-btn.png) no-repeat 0 0;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  right: 19px;
  top: 4px;
}

.office .title {
  margin-bottom: 30px;
}

.office-menu a:hover {
  border-bottom: 1px dashed #bd0400;
  text-decoration: none;
}

.office-menu li {
  display: inline;
  padding: 0 25px;
}

.office-menu li.sel {
  background-color: #bd0400;
  padding: 12px 20px 8px 20px;
  border-radius: 20px;
}

.office-menu li.sel a {
  border-bottom: none;
  color: #ffffff;
}

.office {
  min-height: 600px;
}

.office table th {
  font-size: 20px;
  font-weight: normal;
  background-color: #dddddd;
  border: 2px solid #ffffff;
  padding: 10px 0 10px 20px !important;
}

.office table tr {
  border-bottom: 2px solid #dddddd;
}

html div.office table.table td {
  text-align: left;
  font-size: 16px;
  border-right: 2px solid #ffffff;
  padding: 10px 0 10px 20px;
}

html div.office table.table td.img img {
  width: 100px;
  height: 100px;
}

html div.office table.table td.img {
  padding: 0;
  margin: 0;
  width: 102px;
  height: 102px;
  border: 1px solid white;
  overflow: hidden;
}

.office td.del a,
.office td.toggle a {
  text-decoration: none;
}

.office td.del,
.office td.toggle {
  width: 50px;
}

.office .more,
html div.office table.table td.del,
html div.office table.table td.toggle {
  text-align: center;
  padding: 10px 0 !important;
}

.office td.user,
.office td.rating,
.office td.products,
.office td.referrer,
.office td.type,
.office td.publish,
.office td.promote,
.office td.price,
.office td.date {
  width: 180px;
}

.office td.fullName {
  width: 300px;
}

.office-menu {
  list-style-type: none;
  margin-top: 50px;
  text-align: center;
}

.office-menu a {
  font-size: 20px;
  color: #bd0400;
  border-bottom: 1px dashed #bd0400;
}

.office .orders-table tr {
  border: none;
}

.order-status {
  border-radius: 3px;
  padding: 3px 15px;
  background-color: grey;
  color: white;
  font-size: 14px;
}

.status-NEW {
  background-color: red;
}

.status-ACCEPTED {
  background-color: green;
}

.status-READY {
  background-color: blue;
}

.status-CANCELLED {
  background-color: grey;
}

.orders-table {
  width: 100%;
}

.orders-table thead {
  display: none;
}

.child-value {
  display: none;
}

.billinfo .modal-dialog,
.howto .modal-dialog {
  width: 1100px;
}

.billinfo .modal-dialog {
  height: 80%;
}

.billinfo .info {
  position: relative;
}

.billinfo .info .pay {
  position: absolute;
  top: 0;
  right: 10px;
}

.dropdown-menu {
  text-align: center;
  border-radius: 8px;
  top: 25px;
  font-size: 16px;
  border: 1px solid #aaa;
}
.dropdown-menu:after, .dropdown-menu:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dropdown-menu:after {
  border-bottom-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}
.dropdown-menu:before {
  border-bottom-color: #aaaaaa;
  border-width: 8px;
  margin-left: -8px;
}
.dropdown-menu.basket-show {
  left: -200px;
  width: 300px;
  font-size: 14px;
  text-align: left;
  padding: 10px 10px 10px 20px;
  color: black;
  line-height: 18px;
}
.dropdown-menu.basket-show a {
  color: #e70500;
}
.dropdown-menu.basket-show:after, .dropdown-menu.basket-show:before {
  left: 85%;
}

.import > div {
  width: 210px;
  height: 250px;
}
.import > div img {
  height: 210px;
  cursor: pointer;
  margin-bottom: 7px;
}
.import > div .element-item {
  display: none;
  position: relative;
}
.import > div .element-item .checked {
  position: absolute;
  top: 60px;
  left: 80px;
  width: 49px;
  height: 49px;
  background: transparent url("../img/product-edit.png") no-repeat -147px 0;
}
.import > div ul.albums {
  list-style: none;
  text-align: center;
  padding: 0;
}
.import > div ul.albums li {
  display: inline-block;
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 6px 2px #efefef;
  -moz-box-shadow: 0 0 6px 2px #efefef;
  box-shadow: 0 0 6px 2px #efefef;
  background-color: #fff;
  margin: 5px;
  border: 1px solid #8a8a8a;
}

.price-modifier {
  margin: 10px 0;
}
.price-modifier .price {
  font-size: 20px;
  line-height: 22px;
}
.price-modifier .description, .price-modifier .catalog-item.short .description, .catalog-item.short .price-modifier .description {
  font-size: 16px;
  line-height: 22px;
}
.price-modifier .modifier-row {
  margin: 3px 0;
}
.price-modifier .del-modifier {
  margin-top: 12px;
  display: inline-block;
}
.price-modifier .add-modifier {
  margin-left: 15px;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
