<configuration>

    <property name="PATTERN" value="[%d{HH:mm:ss.SSS}][%-5level][%thread][%X{sid}][%X{uid}][%X{op}] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-PERF" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/gastro/gastro-manager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/gastro/gastro-manager.%d.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxHistory>14</maxHistory>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE-PERF" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/gastro/gastro-manager-perf.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/gastro/gastro-manager-perf.%d.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxHistory>14</maxHistory>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>localhost</smtpHost>
        <to>ezhulkov@gmail.com</to>
        <from>noreply@gastromarket.ru</from>
        <subject>Portal Error</subject>
        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMismatch>DENY</onMismatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>java.lang.Throwable.class.isInstance(throwable)</expression>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="org.perf4j" level="DEBUG" additivity="false">
        <appender-ref ref="${mvn.logging.appender}-PERF"/>
    </logger>

    <logger name="org.ohm" level="${mvn.logging.level}" additivity="false">
        <appender-ref ref="${mvn.logging.appender}"/>
        <appender-ref ref="EMAIL"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="${mvn.logging.appender}"/>
        <level value="INFO"/>
    </root>

</configuration>