<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>http://gastromarket.ru/</loc>
        <lastmod>2015-08-26</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.5</priority>
    </url>
    <url>
        <loc>http://gastromarket.ru/confident</loc>
        <lastmod>2015-08-26</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.1</priority>
    </url>
    <url>
        <loc>http://gastromarket.ru/bonus</loc>
        <lastmod>2015-08-26</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.1</priority>
    </url>
    <url>
        <loc>http://gastromarket.ru/rating</loc>
        <lastmod>2015-08-26</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.1</priority>
    </url>
    <url>
        <loc>http://gastromarket.ru/contract</loc>
        <lastmod>2015-08-26</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.1</priority>
    </url>
    <url>
        <loc>http://gastromarket.ru/agreement</loc>
        <lastmod>2015-08-26</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.1</priority>
    </url>
    <url>
        <loc>http://gastromarket.ru/about</loc>
        <lastmod>2015-08-26</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.5</priority>
    </url>
    <url>
        <loc>http://gastromarket.ru/contacts</loc>
        <lastmod>2015-08-26</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.1</priority>
    </url>
    <url>
        <loc>http://gastromarket.ru/cookinfo</loc>
        <lastmod>2015-08-26</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.5</priority>
    </url>
    <url>
        <loc>http://gastromarket.ru/userinfo</loc>
        <lastmod>2015-08-26</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.5</priority>
    </url>
    #foreach($location in $catalogs)
        <url>
            <loc>${location.locationUrl}</loc>
            <lastmod>$location.lastModifiedPrintable</lastmod>
            <changefreq>weekly</changefreq>
            <priority>1.0</priority>
        </url>
    #end
    #foreach($location in $products)
        <url>
            <loc>${location.locationUrl}</loc>
            <lastmod>$location.lastModifiedPrintable</lastmod>
            <changefreq>weekly</changefreq>
            <priority>0.8</priority>
        </url>
    #end
    #foreach($location in $tenders)
        <url>
            <loc>${location.locationUrl}</loc>
            <lastmod>$location.lastModifiedPrintable</lastmod>
            <changefreq>weekly</changefreq>
            <priority>1.0</priority>
        </url>
    #end
    #foreach($location in $offers)
        <url>
            <loc>${location.locationUrl}</loc>
            <lastmod>$location.lastModifiedPrintable</lastmod>
            <changefreq>weekly</changefreq>
            <priority>0.8</priority>
        </url>
    #end
</urlset>

