#set($subject = "Отмена заказа на ГастроМаркет")
#set($link = "${address}")
#set($toadmin = true)
#parse("email/header.vm")
<p>
    Заказ $ordername отменен.
</p>
<p>
    Причина отмены: <br/>$reason<br/>
</p>
#parse("email/footer.vm")