#set($subject = "Оценка каталога на ГастроМаркет")
#set($toadmin = true)
#parse("email/header.vm")
<p>
    Каталог <a href="${address}">${catalog.name} оценили.</a>
</p>
<p>
    Оценка: ${text}<br/>
    Советы ГастроМаркету: ${gmcomment}<br/>
    Будут рекомендовать: ${gmrecommend}<br/>
</p>
#parse("email/footer.vm")