#set($subject = "Закрытие заказа на ГастроМаркет")
#set($toadmin = true)
#parse("email/header.vm")
<p>
    Заказ "${order.orderName}" закрыт.
</p>
<p>
    Заказчик: ${order.customer.fullName}<br/>
    Кулинар: ${order.catalog.name}<br/>
    Стоимость: ${order.totalPrice}<br/>
</p>
<p>
    Советы ГастроМаркету: ${survey}
</p>
#parse("email/footer.vm")