</div>

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
    <tr>
        <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px none #707070;border-radius:6px;background-color:#e70500">
                <tbody>
                <tr>
                    <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:14px">
                        #if(${link})
                            <a title="Перейти на ГастроМаркет" href="${link}?${params}" style="font-weight:normal;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;word-wrap:break-word" target="_blank">Перейти на ГастроМаркет</a>
                        #else
                            <a title="Перейти на ГастроМаркет" href="http://gastromarket.ru?${params}" style="font-weight:normal;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;word-wrap:break-word" target="_blank">Перейти на ГастроМаркет</a>
                        #end
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
    <tr>
        <td style="padding:18px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:solid;border-top-color:#999999;border-collapse:collapse">
                <tbody>
                <tr>
                    <td>
                        <span></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
    <tbody>
    <tr>
        <td valign="top">

            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                <tbody>
                <tr>

                    <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">

                        <span style="line-height:20.7999992370605px">С уважением, робот ГастроМаркет</span><br style="line-height:20.7999992370605px">
                        <br/>
                        <span style="line-height:20.7999992370605px">У вас есть вопросы или предложения?</span><br style="line-height:20.7999992370605px">
                        <span style="line-height:20.7999992370605px">Напишите на <a style="color:#606060;" href="mailto:contacts@gastromarket.ru" target="_blank">contacts@gastromarket.ru</a>&nbsp;</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>
</td>
</tr>
</tbody>
</table>

</td>
</tr>
<tr>
    <td align="center" valign="top">

        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#cccccc;border-top:0;border-bottom:0">
            <tbody>
            <tr>
                <td valign="top" style="padding-bottom:9px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                        <tbody>
                        <tr>
                            <td align="center" valign="top" style="padding:9px">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                    <tbody>
                                    <tr>
                                        <td align="center" style="padding-left:9px;padding-right:9px">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #eeeeee;background-color:#cccccc;border-collapse:collapse">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                                                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                            <tbody>
                                                            <tr>
                                                                <td valign="top">


                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                <tbody>
                                                                                                <tr>

                                                                                                    <td align="center" valign="middle" width="24">
                                                                                                        <a href="http://facebook.com/gastromarket.ru" style="word-wrap:break-word" target="_blank"><img src="https://ci4.googleusercontent.com/proxy/X9MqCnSCvb5f1PshSVntsSqqm9dNg_ie7HbGsGn_ezsyhoBi1KL0re94Q0I4KPY2mGVpcW3dKRZwm_0bekmhL_IFCF7C82_1xXG2ZkrezDWf6kPh_gik805bm8zRcbMSMw=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;border:0;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                    </td>


                                                                                                    <td align="left" valign="middle" style="padding-left:5px">
                                                                                                        <a href="http://facebook.com/gastromarket.ru" style="font-family:Arial;font-size:11px;text-decoration:none;color:#606060;font-weight:normal;line-height:100%;text-align:center;word-wrap:break-word" target="_blank">Facebook</a>
                                                                                                    </td>

                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>


                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td valign="top" style="padding-right:0;padding-bottom:9px">
                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                <tbody>
                                                                                                <tr>

                                                                                                    <td align="center" valign="middle" width="24">
                                                                                                        <a href="http://gastromarket.ru?${params}" style="word-wrap:break-word" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/_uFbA8j5252fdnk4T1_dJcIe3YicShHtrxPXTNzgU81-5pFJl2KE13IBBm4-vmLNjsIyoC7sNVtQSpq--CaF3PHuhb6igzEEPH4WYLOOxYKIPOBarWCqgaZCobMK=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" style="display:block;border:0;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                    </td>


                                                                                                    <td align="left" valign="middle" style="padding-left:5px">
                                                                                                        <a href="http://gastromarket.ru?${params}" style="font-family:Arial;font-size:11px;text-decoration:none;color:#606060;font-weight:normal;line-height:100%;text-align:center;word-wrap:break-word" target="_blank">ГастроМаркет</a>
                                                                                                    </td>

                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>


                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                        <tbody>
                        <tr>
                            <td valign="top">

                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                    <tbody>
                                    <tr>

                                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#606060;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">

                                            <span style="font-size:12px">ГастроМаркет - мы помогаем сделать лучший выбор в ассортименте выпечки, домашней еды и кейтеринга для Вашего праздника, предоставляя самую качественную базу независимых кулинаров и их продукции.&nbsp;</span><br>
                                            <br>
                                            <span style="font-size:12px"><a href="http://gastromarket.ru/unsubscribe/${unsubscribe}?${params}" style="color:#606060;font-size:12px;">Больше не получать оповещений ГастроМаркет</a></span>
                                            <br>
                                            <br>
                                            <span style="font-size:12px"><em>Copyright © 2015 ГастроМаркет, Все права защищены.</em></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>

    </td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>
</center>
</div>

</body>
</html>