#set($subject = "Регистрация на ГастроМаркет")
#parse("email/header.vm")
<p>
    Мы создали для Вас <a href="http://gastromarket.ru/catalog/$catalog.id">новую страницу</a><br/>
    Для того чтобы войти в личный кабинет и начать её редактировать, нажмите на ссылку "Войти или зарегистрироваться" в шапке сайта и
    укажите:<br/>
    Адрес почты: <b>$cook.email</b><br/>
    Пароль: <b>$password</b><br/><br/>
    Пожалуйста, сохраните это письмо и никому не пересылайте - оно содержит секретный пароль для входа в личный кабинет.
</p>
#parse("email/footer.vm")