#set($subject = "Новый заказ на ГастроМаркет")
#parse("email/header.vm")
<p>
    Вам оставили новый заказ<br/>
    В случае возникновения вопросов пишите на contacts@gastromarket.ru
</p>
<p>
    <b>Детали заказа:</b><br/>
    <ol>
        #foreach( $product in $products )
            <li>
                ${product.entity.name} x ${product.count} &mdash; ${product.price} руб.
                #if( $product.modifier )
                    <br/>
                    <i>&mdash; ${product.modifier.description}</i>
                #end
            </li>
        #end
    </ol>
    Комментарий к заказу: <br/>${comment}<br/>
    <b>Общая стоимость заказа: ${total} руб.</b>
</p>
<p>
    eMail покупателя: $customer.email<br/>
    Имя покупателя: $customer.fullName<br/>
    Детали заказа по адресу: <a href="$address">$address</a>
</p>
#parse("email/footer.vm")