#set($subject = "Новый заказ на ГастроМаркет")
#set($toadmin = true)
#parse("email/header.vm")
<p>
    Мы получили новый заказ №${ordernumber}.
</p>
<p>
    <b>Детали заказа:</b><br/>
    <ol>
        #foreach( $product in $products )
            <li>
                ${product.entity.name} x ${product.count} &mdash; ${product.price} руб.
                #if( $product.modifier )
                    <br/>
                    <i>&mdash; ${product.modifier.description}</i>
                #end
            </li>
        #end
    </ol>
    Промо код: ${order.promoCode}<br/>
    Комментарий к заказу: ${comment}<br/>
    <b>Общая стоимость заказа: ${total} руб.</b>
</p>
<p>
    eMail покупателя: $customer.email<br/>
    Имя покупателя: $customer.fullName<br/>
</p>
#parse("email/footer.vm")