#set($subject = "Новая заявка на ГастроМаркет")
#set($link = "${address}")
#set($params = "ql=${quicklogin}&utm_source=internal&utm_medium=mail&utm_campaign=tender&utm_content=${tender.id}")
#parse("email/header.vm")
<p>
    На сайте ГастроМаркет появилась новая заявка от заказчика ${customer.fullName}
</p>
<p>
    Имя заказчика: $name<br/>
    Бюджет: $total руб.<br/>
    Дата исполнения: $date<br/>
    Комментарий: $comment<br/>
</p>
<p>
    Вы можете уточнить детали заявки и оставить отклик по адресу: <a href="${address}?${params}">${address}</a>
</p>
<p>
    Адрес почты для входа: <b>$email</b><br/>
</p>
<p>
    Также мы хотим напомнить, что оставлять свои прямые контакты в отклике или обсуждениях запрещено правилами сайта. Комментарии с таким содержанием будут модерированы или удалены. Спасибо за понимание!
</p>
#parse("email/footer.vm")