#set($subject = "Новая заявка на ГастроМаркет")
#parse("email/header.vm")
<p>
    Спасибо за размещенную заявку!
</p>
<p>
    Вы можете следить за откликами кулинаров и выбрать исполнителя по адресу: <a href="$address">$address</a>
</p>
#parse("email/footer.vm")