#set($subject = "Новый заказ на ГастроМаркет")
#set($toadmin = true)
#parse("email/header.vm")
<p>
    Мы получили новый заказ №${ordernumber}.
</p>
<p>
    eMail покупателя: $customer.email<br/>
    Имя покупателя: $customer.fullName<br/>
    Детали заказа по адресу: <a href="$address?utm_source=internal&utm_medium=mail&utm_campaign=gm">$address</a>
</p>
#parse("email/footer.vm")