#set($subject = "Новая заявка на ГастроМаркет")
#set($toadmin = true)
#parse("email/header.vm")
<p>
    Мы получили новую заявку.
</p>
<p>
    eMail: ${customer.email}<br/>
    Имя: ${customer.fullName}<br/>
    Бюджет: ${total} руб<br/>
    Дата исполнения: ${date}<br/>
    Комментарий: ${comment}<br/>
    Заявка лежит по адресу: <a href="${address}">${address}</a><br/>
    Количество получателей: ${recipients.size()}<br/>
    Подтверждение отправки: <a href="https://gastromarket.ru/tender/sendannonce/${tender.id}">https://gastromarket.ru/tender/sendannonce/${tender.id}</a>
</p>
#parse("email/footer.vm")