#set($subject = "Новый комментарий к заявке")
#parse("email/header.vm")
<p>
    Новый отклик к заявке <a href="https://gastromarket.ru/tender/${order.id}">${order.id}</a>.
</p>
#parse("email/footer.vm")