#set($subject = "Напоминание об отзыве")
#set($link = "${address}")
#set($params = "ql=${quicklogin}&utm_source=internal&utm_medium=mail&utm_campaign=reply_reminder&utm_content=${tender.id}")

#parse("email/header.vm")
#if(${cook})
<p>
    Мы хотели напомнить, что недавно вы закрыли заказ <a href="${address}?${params}" style="color: red;">№${tender.orderNumber}</a>, но пока не оставили отзыв о покупателе.
</p>
<p>
    Пожалуйста, перейдите по ссылке на заказ и нажмите кнопку "Оценить заказчика". Отзывы и оценки о покупателях важны - это поможет впоследствии определять добросовестных клиентов.
</p>
<p>
    Спасибо!
</p>
#else
<p>
    Мы хотели напомнить, что недавно был закрыт заказ <a href="${address}?${params}" style="color: red;">№${tender.orderNumber}</a>, но вы пока не оставили отзыв о кулинаре.
</p>
<p>
    Пожалуйста, перейдите по ссылке на заказ и нажмите кнопку "Оценить кулинара". Отзывы и оценки о кулинарах важны - это поможет выявлять недобросовестных исполнителей.
</p>
<p>
    Также хотим напомнить про бонусные баллы. Совершая заказы на ГастроМаркет, вы зарабатываете баллы, которые потом можно обменять на приятные подарки.
    Подробности можно узнать по ссылке <a href="https://gastromarket.ru/bonus" style="color: red;">бонусные баллы</a>.
</p>
<p>
    Спасибо и ждём вас ещё!
</p>
#end

#parse("email/footer.vm")