#set($subject = "Выбор исполнителя")
#set($toadmin = true)
#parse("email/header.vm")
<p>
    Клиент выбрал исполителя для заявки <a href="https://gastromarket.ru/tender/${tender.id}">${tender.id}</a>.
</p>
#parse("email/footer.vm")