@charset "UTF-8"
@import "../include/var"
@import "tools"

html
  position: relative

body
  font-family: 'PT Sans', sans-serif
  font-size: 16px
  margin-top: 55px
  padding: 0 !important
  height: 100%

a
  cursor: pointer
  font-size: $f16px
  color: $redTextColor
  &:hover
    color: $redTextColor

h1, h2, h3
  font-family: 'PT Serif', serif
  text-align: center
  font-size: 30px

h2
  font-size: 25px

h3
  text-align: left
  font-size: 20px

*:focus
  outline: 0 !important

.page
  min-height: 500px
  & > section:last-of-type
    padding-bottom: 50px

.container.flexible
  width: 1170px
  @media (min-width: 768px)
    width: 600px
  @media (min-width: 992px)
    width: 880px
  @media (min-width: 1200px)
    width: 1165px
  @media (min-width: 1600px)
    width: 1450px
  @media (min-width: 1920px)
    width: 1450px
  @media (min-width: 2560px)
    width: 1770px
  +mobile-media
    width: 310px



