@import "../include/var"

.upload-file
  position: relative
  &.AVATAR
    width: 210px
    height: 210px
    img
      width: 210px
      height: 210px
  &.PRODUCT
    width: 560px
    height: 404px
    margin: 0 auto
    img
      width: 560px
      height: 404px
  .uploader-button-container.upload-progress
    min-height: 40px
    background: url("../img/spinner.gif") no-repeat center center
    background-size: contain
    .btn-file
      display: none
    .qq-upload-button-selector
      background: none
  &.upload-icon, &.upload-msg-icon
    .uploader-button-container
      position: absolute
      right: 10px
      bottom: 10px
    .qq-upload-button-selector
      width: 49px
      height: 49px
      background: url("../img/avatar-upload.png") no-repeat
    .qq-upload-button-hover
      width: 49px
      height: 49px
      background: url("../img/avatar-upload-hover.png") no-repeat
    .btn-file
      display: none
  &.upload-msg-icon
    .uploader-button-container
      top: -8px
      right: -10px
  &.upload-button
    .btn-file
      width: 100%
